<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9557251982-d2l058mcs86ejjmp9khi4unpo4hb5d6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9557251982-d2l058mcs86ejjmp9khi4unpo4hb5d6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBMbhrjZvMqs5tO0AUdoQYuOyx4WHtCDVc</string>
	<key>GCM_SENDER_ID</key>
	<string>9557251982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toolkitbase.SocialProject</string>
	<key>PROJECT_ID</key>
	<string>socialproject-462eb</string>
	<key>STORAGE_BUCKET</key>
	<string>socialproject-462eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:9557251982:ios:f278cdbfd4c76c03</string>
	<key>DATABASE_URL</key>
	<string>https://socialproject-462eb.firebaseio.com</string>
</dict>
</plist>